<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <title>Auto Escola Direção Certa</title>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <img src="{{ url_for('static', filename='image/logo-auto-escola-direção-certa.png') }}" alt="Logo" class="logo" />
                <h2>Quantidade de Condutores Habilitados<span class="caption">(agosto de 2024)</span></h2>
            </div>
            <div class="centralizar">
                <table>
                    <thead>
                        <tr>
                            {% for col in columns %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                {% for col in columns %}
                                    <td>{{ row[col] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
